<!DOCTYPE html>
<html ng-app="TimeTracker">
<head>
	<meta charset="UTF-8" />
	<title>Lista de empleados</title>
</head>

<body ng-controller="indexController" ng-init="getListaEmpleados()">
	
	<h4>Lista de empleados</h4>
	
	<div class="container" ng-show="listaEmpleados != null">
		<div class="" ng-repeat="empleado in listaEmpleados">
			<h4><span> {{empleado.id}} - {{empleado.name}} - {{empleado.perfil}} </span></h4>
		</div>
	</div>
	<div class="container" ng-show="null === listaEmpleados || listaEmpleados.length == 0">
		<a>No hay empleados</a>
	</div>
	{{empleado1}}
	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-resource.js"></script>
	<script src="./js/indexController.js"></script>
</body>
</html>

